body{
	background-image: url("../images/Sports.png");
}

.bg-primary{
	background-color: #663300;
	text-align: center;
}

#instructions{
	text-align: left;
	background-color: black;
	color: orange;
	padding-left: 0%;
	padding-right: 0%;
}

#total-score-header-box{
	text-align:center;
	background-color:black;
	color:white;
}

#total-score-box{
	text-align:center;
	color: #eee;
}